.font-loader{ 
    font-family: 'typeface-dm-sans', sans-serif;
    text-align: center;
  }
  .btn{
    cursor: pointer;
    background-color: #3200BD;
    border: none;
    color: white;
    width: 225px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
  }
  .hdr{
    margin-left: 110px; 
  }
  .spacer{
    margin-top: 110px;
  }
  .heavyspacer{
    margin-top: 200px; 
  }
  .demo{
    border-radius: 25px;
    margin-top: 80px;
    margin-right: 110px; 
    padding-left: 20px;
    box-shadow: 5px 5px 10px #3200BD;
  }
  .cardPadder{
    margin-left: 110px; 
    margin-top: 180px; 
  }
  .nextCard{
    margin-left: 110px; 
    margin-top: 40px; 
  }
  .cardStyle{
    font-family: 'typeface-dm-sans', sans-serif;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #3200BD;
  }
  .numList{
    margin-top: 80px;
    margin-right: 110px;
  }

  .play{
      cursor: pointer;
  }
  

  
  